<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".novel.WriteNovelActivity"
            android:exported="false"
            android:label="@string/title_activity_write_novel"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".novel.NovelCoverActivity"
            android:exported="false"
            android:label="@string/title_activity_novel_cover"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".novel.WriteNCoverActivity"
            android:exported="false"
            android:label="@string/title_activity_write_ncover"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".board.WriteFreeBoardActivity"
            android:exported="false"
            android:label="@string/title_activity_write_free_board"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".board.ShowFreeBoardActivity"
            android:exported="false"
            android:label="title_activity_wfree_board"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".board.FreeBoardActivity"
            android:exported="false"
            android:label="@string/title_activity_free_board"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".user.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".user.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Novel"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".novel.NovelActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".novel.ShowNovelListActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>


</manifest>